*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background: white;
    --background-btn: black;
    --size-btn: 30px;
    --size-padding: 10px 20px;
}
#block{
    height: 100vh;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
#btn{
    background: var(--background-btn);
    color: var(--background);
    font-size: var(--size-btn);
    padding: var(--size-padding);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}
[theme="light"]{
    --background: white;
    --background-btn: black;
}
[theme="dark"]{
    --background: black;
    --background-btn: white;
}

@media screen and (max-width: 820px) {
    :root{
        --size-btn: 20px;
        --size-padding: 5px 10px;
    }
}